@pc_frame("关于我们", "aboutUsApp", "aboutUsController") {
<meta charset="UTF-8">
<div class="aboutUs">

	<h1>关于龙鑫</h1>
	
	<div class="wboss" id="ab1">
		 <h3>龙鑫简介</h3>
	    <p class="wbossti">
	    	东莞市龙鑫酒业有限公司，社交个性定制酒专业服务商。主要生产、销售“龍鑫浩然”品牌系列茅台镇酱香型白酒。
			我们坚守传承茅台镇酿酒传统工艺，传递东方古老酱香型白酒养生文化，倡导责任、信任、关爱、尊重的价值观，专注为个人收藏、企业庆典、婚宴、私人聚会、生日、寿宴、社交送礼等提供个性化定制酒服务。
			 以个性化定制酒为载体，帮助客户在不同社交场合更好的表达自我，传情达意。让定制者体现无法复制的身份，是定制者个人品味的外延与价值彰显的载体。
			龙鑫酒业在广东东莞、贵州仁怀茅台镇设立总办事处，在全国各省、市设立分办事处，属一家大型专业性的辐射全国的酒业销售公司。
		</p>
		<p>
			东莞市龙鑫酒业有限公司<br>
			地址：东莞市樟木头镇长虹百汇23栋1077号<br>
			电话：0769-86051510
		</p>
		<!-- <p>
			龙鑫酒业贵州茅台镇酱香原酒酿造基地   <br>
			地址：贵州省仁怀市苍龙街道龙井村国宝酒厂<br>
			电话：0851-22228210<br>
			全国服务热线：400—8080—298
		</p> -->
	</div>
	
	<div class="wboss" id="ab2">
		<h3>龙鑫咨询</h3>
		<p>
			全国服务热线：400-8080-298<br>
			东莞市龙鑫酒业有限公司<br>
			地址：东莞市樟木头镇长虹百汇23栋1077号<br>
			电话：0769-86051510<br>
			<!-- 龙鑫酒业贵州茅台镇酱香原酒酿造基地   <br>
			地址：贵州省仁怀市苍龙街道龙井村国宝酒厂<br>
			电话：0851-22228210 -->
		</p>
	</div>
	
	<div class="wboss" id="ab3">
		<h3>解密茅台古镇</h3>
		<p>茅台镇—中国酱酒之都<br>
			龙鑫以酒粹为求，倾一生为一事，因执着而卓越<br>
		 	 贵州省仁怀市茅台镇以生产贵州茅台酒闻名天下，被誉为《天下第一酒镇》之美称。这里自古就是佳酿产地，三面环山、一面毗邻赤水河，冬暖夏热、湿度极高。再加上赤水河属红壤，得国家六十余年的特控生态保护，水质极佳。拥有极为适合酿酒所需的独特环境。酱香型白酒的至尊典范“贵州茅台酒”就产于这片集天地之灵气的酿酒圣地！
			酱香型白酒是茅台镇独有的酿酒技艺，是酒文化的历史遗产。有近乎于苛刻的选料，和传统严格的工序。在赤水河流域酿酒专用红壤高粱基地上，不施加任何化肥农药而种植的优良糯性小粒厚皮糯高粱、红壤小麦等，更是酱香型白酒的独特工艺不可替代的酿酒专用作物。而传统酿酒工序严格而繁杂，端午制曲，重阳下沙，九次蒸馏，八次发酵，七次取酒。期间还须经摊晾、加曲、堆积、下窖、发酵……历经整整一年，方得当年新酒，再将七次所取之酒分批窖存至三年以上，才成可用于勾兑的基酒。每一斤酱香型白酒都是需耗至少五斤粮食的纯粮酒，其酿酒难度之大！成本之高！远非其它香型蒸馏酒所能相提并论。
			茅台镇龙鑫酒业就是茅台镇生产酱香型白酒的杰出代表。从选料到制曲，再到投沙、发酵、取酒、窖藏、勾兑，无一不虔诚恪守传统技艺，酿酒器具全部取自天然，竹器、木器、石器、陶器，辅之蒸、拌、堆、酵、翻、酿、制、取、存、勾、兑、灌等纯手工把握。龙鑫酒业唯以酒粹为求，倾一生为一事，因执着而卓越。
		</p>
	</div>
	
	<div class="wboss" id="ab4">
		<h3>定制问题解答</h3>
		<p>
			Q:产品定制的图片会不会失真？<br>
			A:龙鑫定制酒商城采用国内先进的3D成像技术，先进印刷技术，有专业的设计师为您服务，但印刷制作都是机器辅助，主要还是人工贴合完成，基本上能达到和照片的还原度，但不能保证一模一样，这也是手工制品独一无二的特性。
		</p>
		<p>
			Q:设计途中能更换图片吗？<br>
			A:设计前必须选定照片素材，一旦跟客服确认后，产品未制作出来，更换设计需要另付费用，具体金额请咨询客服人员，若已经印刷成品，则不可更换设计。
		</p>
		<p>
			Q:收货发现破损怎么办？<br>
			A:龙鑫定制酒商城采用的是酒水特别包装，防震防摔，签收产品前需进行确认有无破损，签收前发现破损由快递和我们负责，签收确认后由客户自行承担所有责任。
		</p>
		<p>
			Q:收货发现破损怎么办？<br>
			A:龙鑫定制酒商城采用的是酒水特别包装，防震防摔，签收产品前需进行确认有无破损，签收前发现破损由快递和我们负责，签收确认后由客户自行承担所有责任。
		</p>
		<p>
			Q:为什么不能指定快递？是否有保障？<br>
			A:因为不是所有快递公司都拥有资质承运酒类产品，故本商城默认快递为德邦物流，运输中快递来回晃动，倒置，会有少量渗漏，属正常现象，不影响正常饮用，不属于补偿范围。请接受不了的客户不要拍，谢谢合作！（如若送不到的区域，我们会改用天天快递或者宅急送）
		</p>
	
		 <p>
		 	更多问题请咨询客服。
		 </p>
	</div>





</div>
}

