@pc_frame("爱心公益", "charitableApp", "charitableController") {  
<meta charset="UTF-8">
<div class="charitable_ban">
	<img src='@routes.Assets.at("pc_images/love_ban.jpg")'/>
      <div class="charitable_table">
         <div class="table">  
           <div class="tab">
          <span>善款总额</span>
          <div class="input">￥234,678,678.00</div>
          <span style="display:inline-block" >元</span> 
           </div>
           
            <div class="tab">
          <span>善款总额</span>
          <div class="input">￥234,678,678.00</div>
          <span style="display:inline-block" >元</span> 
           </div>
           
            <div class="tab">
          <span>善款总额</span>
          <div class="input">￥234,678,678.00</div>
          <span style="display:inline-block" >元</span> 
           </div>
           <span style="margin-top:20px;">龙鑫爱心公益与亿万网友在一起</span>
           
         </div>
      </div>
</div>
<div style="clear:both;"></div>
<div class="charitable_p">
  <span>一元钱能做什么？在城市里，这个答案很有限，打一个电话、坐一次公车、买一根棒棒糖，仅此而已。<br /> 但在公益领域，一元钱却可以做很多事。只是这个“一元钱”并不只是区区一个“一元钱”，而是无数个“一元钱”汇聚而成的慈善海洋。<br />我们身体力行，点滴用心，传递爱心，为公益事业尽一份力量。<br />
  龙鑫酒业欣然开展公益行动，承诺每笔交易拿出一元钱用于公益计划捐赠，请和我们一起行动加入公益事业，为爱启航！
  </span>
  <br />
 <img style="margin-top:20px;" src='@routes.Assets.at("pc_images/love_05.jpg")'/>
 <span>请关爱贫困儿童的生活，与龙鑫酒业一起，帮助他们回到幸福快乐的家，温暖明亮的教室。</span>
 
<img src='@routes.Assets.at("pc_images/love_08.jpg")'/>
<img src='@routes.Assets.at("pc_images/love_10.jpg")'/>
<img src='@routes.Assets.at("pc_images/love_13.jpg")'/>
<img src='@routes.Assets.at("pc_images/love_14.jpg")'/>
<span><b style="font-size:20px; line-height:40px;">有爱，有改变</b><br />我们身体力行，点滴用心，传递爱心，为公益事业尽一份力量。<br />
龙鑫酒业一元爱心公益活动，给果力村完小校捐了课桌椅80套，书包和铅笔盒各80个等物资和现金价值约10万元。</span>
<img src='@routes.Assets.at("pc_images/love_17.jpg")'/>
<img src='@routes.Assets.at("pc_images/love_19.jpg")'/>
<img src='@routes.Assets.at("pc_images/love_23.jpg")'/>
<img src='@routes.Assets.at("pc_images/love_24.jpg")'/>
</div>
}