@pc_frame("个人中心", "numCenterApp", "numCenterController") { 
<meta charset="UTF-8">
<div class="myorder">
      <div class="order_list">
         <div class="up">
         <ul>
         <li class="title">会员中心</li>
         <li class="cont">我的订单</li>
         <li class="cont">我的收藏</li>
         <li class="cont">我的退换货</li>
         </ul>
         </div>
         <div class="up">
         <ul>
         <li class="title">账户中心</li>
         <li class="cont">我的账户资料</li>
         <li class="cont">登陆密码修改</li>
         <li class="cont"> 我的发票信息</li>
          <li class="cont"> 我的送货地址</li>
         </ul>
         </div>
      </div>
      
      <div class="order_num">
         <div class="center_t">
         &nbsp; &nbsp; &nbsp;会员基本信息
         </div>
         <div class="xinxi">
         <div class="pic_text" ><img src='@routes.Assets.at("pc_images/logo_botm.jpg")'/><span>张明明<br />订单数：<b>30</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本年度消费：<b>￥150,000.00</b>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;总消费金额：<b>￥300,000.00</b></span></div>
         </div>
        
         <div class="order_border"> 
          <div class="center_t">
         &nbsp; &nbsp; &nbsp;我的订单 <a>查看全部订单&nbsp; &nbsp; &nbsp;</a>
         </div>

    
      
      <div class="ord_tab">
       <table width="850" class="table_2" >
  <tr style="line-height: 100px;">
   <td width="76">订单编号</td>
    <td width="126"><img src='@routes.Assets.at("pc_images/bigimg.jpg")'/></td>
    <td width="210" style=" line-height:22px;">[婚庆系列] 永结同心龙鑫浩然酒 53度  500ml </td>
     <td width="86"> X5</td>
    <td width="98" style="color:#b48f4f; font-weight:bolder;"">￥1500.0 </td>
    <td width="98" style="font-weight:bolder; line-height:22px;">已完成<br />订单状态</td>
    <td width="124"><a>查看订单</a></td>
  </tr>
   </table>
    </div>
    <div class="order_line"></div> 
     <div class="ord_tab">
       <table width="850" class="table_2" >
  <tr style="line-height: 100px;">
   <td width="76" rowspan="2">订单编号</td>
    <td width="126"><img src='@routes.Assets.at("pc_images/bigimg.jpg")'/></td>
    <td width="210" style=" line-height:22px;">[婚庆系列] 永结同心龙鑫浩然酒 53度  500ml </td>
     <td width="86"> X5</td>
    <td width="98" rowspan="2" style="color:#b48f4f; font-weight:bolder;"">￥3000.0 </td>
    <td width="98" rowspan="2" style="font-weight:bolder; line-height:22px;">代付款<br />订单状态</td>
    <td width="124" rowspan="2"><a class="no_pay">我要付款</a></td>
  </tr>
  <div style="clear:both"></div>
   <tr style="line-height: 100px;">
    <td width="126"><img src='@routes.Assets.at("pc_images/bigimg.jpg")'/></td>
    <td width="210" style=" line-height:22px;">[婚庆系列] 永结同心龙鑫浩然酒 53度  500ml </td>
     <td width="86"> X5</td>
  
  </tr>
   </table>
    </div>
    
    </div>
    
      
</div>

}