@pc_frame("帮助中心", "aboutUsApp", "aboutUsController") {
<meta charset="UTF-8">
<div class="aboutUs">

	<h1>帮助中心</h1>
	
	<div class="wboss" id="he1">
		 <h3>在线支付</h3>
	    <p>
	    	支持微信在线支付。
		</p>
	</div>
	
	<div class="wboss" id="he2">
		<h3>退货说明</h3>
		<p  class="wbossti">
			酒水属于特殊商品，请务必当面签收，若有破损请签收完好的，破损的拒签返回，签收后的酒水概不退换，因无法保障酒水是否原装，是否真品，拆封后概不退还。
		</p>
	</div>
	
	<div class="wboss" id="he3">
		<h3>发票说明</h3>
		<p>
			1.通过龙鑫定制酒商城订购商品，您可选择开具发票，一个订单对应一张发票，发票将随同商品一起寄出。<br>
			2.龙鑫定制酒商城提供的发票为酒类专用发票；<br>
			3.配送费金额包含在订单发票金额中；<br>
			4.发票金额不能高于订单金额；<br>
			5.使用红包、礼品卡、返现金额等支付的部分，不再开具发票；<br>
			6.发票抬头可写个人或公司名称；<br>
			7.发票内容：酒水或明细。(龙鑫定制酒商城只可开具内容为酒类的专用发票。)<br>
			8.您订货后若不需要开具发票，我们将随商品为您开具"发货单"以使您的售后服务得以保障；<br>
			9.开具发票后，若有退换货发生，则需将发票随商品一起退回；
		</p>
	</div>
	
	<div class="wboss" id="he4">
		<h3>常见问题</h3>
		<p>
			Q:产品定制的图片会不会失真？<br>
			A:龙鑫定制酒商城采用国内先进的3D成像技术，先进印刷技术，有专业的设计师为您服务，但印刷制作都是机器辅助，主要还是人工贴合完成，基本上能达到和照片的还原度，但不能保证一模一样，这也是手工制品独一无二的特性。
		</p>
		<p>
			Q:设计途中能更换图片吗？<br>
			A:设计前必须选定照片素材，一旦跟客服确认后，产品未制作出来，更换设计需要另付费用，具体金额请咨询客服人员，若已经印刷成品，则不可更换设计。
		</p>
		<p>
			Q:收货发现破损怎么办？<br>
			A:龙鑫定制酒商城采用的是酒水特别包装，防震防摔，签收产品前需进行确认有无破损，签收前发现破损由快递和我们负责，签收确认后由客户自行承担所有责任。
		</p>
		<p>
			Q:为什么不能指定快递？是否有保障？<br>
			A:因为不是所有快递公司都拥有资质承运酒类产品，故本商城默认快递为德邦物流，运输中快递来回晃动，倒置，会有少量渗漏，属正常现象，不影响正常饮用，不属于补偿范围。请接受不了的客户不要拍，谢谢合作！（如若送不到的区域，我们会改用天天快递或者宅急送）。
		</p>
		 <p>
		 	更多问题请咨询客服。
		 </p>
	</div>





</div>
}

