@pc_frame("首页", "pc_indexApp", "pc_indexController") { 
<meta charset="UTF-8">  
    
<div id="slideBox" class="slideBox">

				<div class="bd">
					<ul>
							<li>
								<a class="pic" href="#"><img src='@routes.Assets.at("pc_images/ban_02.jpg")' /></a>
								
							</li>
					</ul>
				</div>

				<div class="hd">
					<ul></ul>
				</div>
			</div>
			<script type="text/javascript">
				TouchSlide({ 
					slideCell:"#slideBox",
					titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
					mainCell:".bd ul", 
					effect:"leftLoop", 
					autoPage:true,//自动分页
					autoPlay:true //自动播放
				});
			</script>
    <!--/#home-slider-->

   
        <div class="home_honner">
             <div class="home_three">
               
                    <div class="single-service">
                        <div class="wow scaleIn">
                            <img src='@routes.Assets.at("pc_images/three_0.jpg")' alt="">
                        </div>
                        <h2>不平庸的DNA</h2>
                        <span>茅台镇7.5万平方公里酱酒核心产区，
龍鑫厂址占地面积300亩，
离茅台集团一厂500米，
拥有3项国家白酒酿造专利技术，
是茅台镇三大酱酒品牌之一。</span>
                    </div>
                
                
                    <div class="single-service">
                        <div class="wow scaleIn">
                            <img src='@routes.Assets.at("pc_images/three_1.png")' alt="">
                        </div>
                        <h2>不平庸的荣誉</h2>
                        <span>在拥有“食品业诺贝尔奖”之称
的世界食品质量评鉴大会
（MONDE SELECTION 2012）上，
龍鑫获两项金奖和一项全场特别金奖。</span>
                    </div>
               
              
                    <div class="single-service">
                        <div class="wow scaleIn">
                            <img src='@routes.Assets.at("pc_images/three_2.jpg")'/>
                        <h2>不平庸的品质</h2>
                        <span>融合台湾先进调和技术，
历经两岸大师十载潜心钻研，
唯一一个由两岸大师联袂打造的白酒酿造工艺，
整个勾兑过程不掺一滴水，
基酒一年一酿，五年出一次酒。</span>
                    </div>
               
            </div>
            <a href="/"><img src='@routes.Assets.at("pc_images/butm.jpg")'/></a>
        </div>
</div>
    <!--/#services-->

<div class="home_order">
       <div class="title-nav"> 
           <div class="title1">主题<br/>定制</div>
           <span>你对人生有多少想象，我们就给你多少定制方案</span>
           <a href="/">更多主题></a>
        </div>
</div>
<div class="home_pic">
  <a href="/"><img src='@routes.Assets.at("pc_images/ban.jpg")'/></a>
  <a href="/"><img src='@routes.Assets.at("pc_images/ban3.jpg")'/></a>
  <a href="/"><img src='@routes.Assets.at("pc_images/ban4.jpg")'/></a>
  <a href="/"><img src='@routes.Assets.at("pc_images/ban5.jpg")'/></a>
  <a href="/"><img src='@routes.Assets.at("pc_images/ban6.jpg")'/></a>
</div>
<div class="home_order">
       <div class="title-nav"> 
           <div class="title1">经典<br/>推荐</div>
           <span>龙鑫浩然经典系列白酒</span>
           
        </div>
</div>
<div class="home_allproduct">
     <div class="home_product">
     <a><img src='@routes.Assets.at("pc_images/wind.jpg")'/></a>
     <p>【婚庆系列】永结同心龙鑫浩然酒 53度 500ml<br /><i style="color:#333;font-style:normal;">酱香型高度白酒国产中国</i></p>
     <span >￥300.0</span>
      <a href="/" style="background-color:#121a31;">立即定制</a>
      </div>
      
      <div class="home_product">
     <a><img src='@routes.Assets.at("pc_images/wind.jpg")'/></a>
     <p>【婚庆系列】永结同心龙鑫浩然酒 53度 500ml<br /><i style="color:#333;font-style:normal;">酱香型高度白酒国产中国</i></p>
     <span >￥300.0</span>
      <a href="/" style="background-color:#121a31;">立即定制</a>
      </div>
      
      <div class="home_product">
     <a><img src='@routes.Assets.at("pc_images/wind.jpg")'/></a>
     <p>【婚庆系列】永结同心龙鑫浩然酒 53度 500ml<br /><i style="color:#333;font-style:normal;">酱香型高度白酒国产中国</i></p>
     <span >￥300.0</span>
      <a href="/" style="background-color:#121a31;">立即定制</a>
      </div>
      
      <div class="home_product">
     <a><img src='@routes.Assets.at("pc_images/wind.jpg")'/></a>
     <p>【婚庆系列】永结同心龙鑫浩然酒 53度 500ml<br /><i style="color:#333;font-style:normal;">酱香型高度白酒国产中国</i></p>
     <span >￥300.0</span>
      <a href="/" style="background-color:#121a31;">立即定制</a>
      </div>
</div>
<div style="clear:both;"></div>
<div class="home_order">
       <div class="title-nav"> 
           <div class="title1">龙鑫<br/>资讯</div>
           <span>贵州茅台镇出品 尊享白酒的私人定制</span>
           
  </div>
</div>

<!--咨询-->
<div class="home_news">
    <div class="toptitl">
         <div class="tp1">定制酒文化</div>
         <div class="tp2"></div>
         <div class="tp3"><a href="/" style="color:#b58f50;">更多咨询></a></div>
    </div>
    <div style="clear:both;"></div>
    <div class="toppic">
        <div class="artical">
           <ul>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
         
           </ul>
        </div>
          <img src='@routes.Assets.at("pc_images/artical.jpg")'/>   
    </div>
</div>
<div style="clear:both;"></div>
<div class="home_news">
    <div class="toptitl">
         <div class="tp3"><a href="/" style="color:#b58f50;">更多攻略></a></div>
         <div class="tp2"></div>
         <div class="tp1">定制酒攻略</div>
    </div>
    <div style="clear:both;"></div>
    <div class="toppic">
     <img src='@routes.Assets.at("pc_images/artical_2.jpg")'/>  
        <div class="artical">
           <ul>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
         
           </ul>
        </div>
          
    </div>
</div>
<div style="clear:both;"></div>
<div class="home_news">
    <div class="toptitl">
         <div class="tp1">定制酒文化</div>
         <div class="tp2"></div>
         <div class="tp3"><a href="/" style="color:#b58f50;">更多咨询></a></div>
    </div>
    <div style="clear:both;"></div>
    <div class="toppic">
        <div class="artical">
           <ul>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
           <li><a href="/">哪里可以做个性定制酒？龙鑫酒业</a></li>
         
           </ul>
        </div>
          <img src='@routes.Assets.at("pc_images/artical_3.jpg")'/>   
    </div>
</div>

<div style="clear:both;"></div>

<div class="theme_line" style="margin-top:30px;"></div>
   <div class="theme_process">
   <img src='@routes.Assets.at("pc_images/process.jpg")'/>  
</div>

<!-- <!-- 底部 
<div style="clear:both;"></div>
<div class="home_bottom">
    <div class="home_end">
    <img src='@routes.Assets.at("pc_images/logo_botm.jpg")'/>
    <div class="row">
       <ul>
        <li class="special"><a href="/">关于龙鑫</a></li>
        <li><a href="/">龙鑫简介</a></li>
        <li><a href="/">龙鑫咨询</a></li>
        <li><a href="/">揭密茅台古镇</a></li>
        <li><a href="/">定制问题解答</a></li>
      </ul>
    </div>
     <div class="row">
       <ul>
        <li class="special"><a href="/">关于龙鑫</a></li>
        <li><a href="/">龙鑫简介</a></li>
        <li><a href="/">龙鑫咨询</a></li>
        <li><a href="/">揭密茅台古镇</a></li>
        <li><a href="/">定制问题解答</a></li>
      </ul>
    </div>
     <div class="row">
       <ul>
        <li class="special"><a href="/">关于龙鑫</a></li>
        <li><a href="/">龙鑫简介</a></li>
        <li><a href="/">龙鑫咨询</a></li>
        <li><a href="/">揭密茅台古镇</a></li>
        <li><a href="/">定制问题解答</a></li>
      </ul>
    </div>
    <div class="row">
       <ul>
        <li class="special"><a href="/">联系我们</a></li>
        <li><a href="/">客服：400-8080-298</a></li>
        <li><a href="/">邮箱：longxin longxin9.com</a></li>
        
      </ul>
    </div>
     <div class="row">
       <ul>
        <li class="special"><a href="/">关注我们</a></li>
        <li><a href="/"><img style="vertical-align:top;" src='@routes.Assets.at("pc_images/xinlang.jpg")'/>新浪微博</a></li>
         <li><a href="/"><img style="vertical-align:top;" src='@routes.Assets.at("pc_images/thent.jpg")'/>腾讯微博</a></li> 
        
      </ul>
    </div>
    <img src='@routes.Assets.at("pc_images/erweima.jpg")'/>
    <span>©2014 Sohu.com Inc. All Rights Reserved.龙鑫公司 版权所有 粤ICP备05033978号</div>
    </span>
</div>
 -->
}


