@pc_frame("我的订单", "pcMyorder", "pcMyorderController") { 
<meta charset="UTF-8">
  <div class="myorder">
      <div class="order_list">
         <div class="up">
         <ul>
         <li class="title">会员中心</li>
         <li class="cont">我的订单</li>
         <li class="cont">我的收藏</li>
         <li class="cont">我的退换货</li>
         </ul>
         </div>
         <div class="up">
         <ul>
         <li class="title">账户中心</li>
         <li class="cont">我的账户资料</li>
         <li class="cont">登陆密码修改</li>
         <li class="cont"> 我的发票信息</li>
          <li class="cont"> 我的送货地址</li>
         </ul>
         </div>
      </div>
       
    <div class="order_num">
         <div class="lanmu">
          <a  style="background-color:#121a31; color:#fff;">全部订单</a>
          <a >待付款</a>
          <a >待发货</a>
          <a >待收货</a>
         </div>
            <div style="clear:both"></div>
    
         <table style="font-size:14px;
	color:#595e6e;height:60px; text-align:center;margin-bottom: -20px;" width="850"   border="0">
  <tr>
    <td width="197">时间筛选</td>
    <td width="277">订单详情</td>
    <td width="95">收货人</td>
    <td width="78">总计</td>
    <td width="79">全部状态</td>
    <td width="98">操作</td>
  </tr>
</table>
      <div class="ord_tab">
       <table width="850" >
  <tr>
    <td colspan="5" style="line-height:30px; color:#595e6e; text-align:left;">2015-12-09 14:49:22              订单编号：11423936713</td>
    </tr>
  <tr style="line-height: 100px;">
    <td><img src='@routes.Assets.at("pc_images/bigimg.jpg")'/>[婚庆系列] 永结同心龙鑫浩然酒 53度  500ml &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; X5</td>
    <td>张明明</td>
    <td style="color:#b48f4f; font-weight:bolder;"">￥1500.0 </td>
    <td style="font-weight:bolder;">已付款</td>
    <td width="108"><a>查看订单</a></td>
  </tr>
   </table>
    </div>
     <div class="ord_tab">
       <table width="850" >
  <tr>
    <td colspan="5" style="line-height:30px; color:#595e6e; text-align:left;">2015-12-09 14:49:22              订单编号：11423936713</td>
    </tr>
  <tr style="line-height: 100px;">
    <td><img src='@routes.Assets.at("pc_images/bigimg.jpg")'/>[婚庆系列] 永结同心龙鑫浩然酒 53度  500ml &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; X5</td>
    <td>张明明</td>
    <td style="color:#b48f4f; font-weight:bolder;">￥1500.0 </td>
    <td style="font-weight:bolder;">代付款</td>
    <td width="108"><a class="no_pay">我要付款</a></td>
  </tr>
   </table>
    </div>
    

      </div>
  
  </div>
}