@pc_frame("支付页面", "pcPayApp", "pcPayController") { 
<meta charset="UTF-8">
<div class="pay">
  <div class="pay_a1">
     <div class="pay_1"><span style="color:#121a31;">请您及时付款，以便订单尽快处理！ 订单号：11423936713</span><br><span>请您在提交订单后<b style="color:#ff0000;">24</b>小时内完成支付，否则订单会自动取消。</span>
     </div>
     <div class="pay_2"><span>应付总额：<b style="color:#ff0000; font-size:22px;">$1500.00</b>元<br><a style="color:#000;" href="/">收起详情<img style=" vertical-align:middle;" src='@routes.Assets.at("pc_images/jiantou.jpg")'/></a></span>
     </div>
  </div>
    <div style="clear:both"></div>
   <div class="pay_inform" id="pay_inform">
   <div style="margin-top:20px; margin-left:20px;">
   <span>收货地址：广东省 珠海市 香洲区 翠香路247号安平大厦11楼1107室       收货人：张明明   188****888</span><br />
   <span>商品名称：[婚庆系列] 永结同心龙鑫浩然酒 53度 500ml，500ml   53%Vol.  黄色款</span>
   </div>
  </div>
   <div style="clear:both"></div>
<div class="pay_way">
   <a href=""><img src='@routes.Assets.at("pc_images/pay_way_07.jpg")'/></a>
   <a href=""><img src='@routes.Assets.at("pc_images/pay_way_09.jpg")'/></a>
   <a href=""><img src='@routes.Assets.at("pc_images/pay_way_11.jpg")'/></a>
   <a href=""><img src='@routes.Assets.at("pc_images/pay_way_13.jpg")'/></a>
</div>

</div>
}