@pc_frame("关于我们", "aboutUsApp", "aboutUsController") {
<meta charset="UTF-8">
<div class="aboutUs">

	<h1>购物指南</h1>
	
	<div class="wboss" id="go1">
		 <h3>定制须知</h3>
	    <p class="wbossti">
			由于雕刻类型定制瓶属手工技术制作，加工前需往瓶身粘贴胶纸，加工完毕撕开胶纸时有个别瓶身造成瑕疵，瑕疵大的我们会直接淘汰，瑕疵直径在0.5~1mm范围内不会影响美观的属正常情况，不予退货，敬请谅解。
		</p>
	</div>
	
	<div class="wboss" id="go2">
		<h3>定制流程</h3>
		<div class="theme_process">
			<img src='@routes.Assets.at("pc_images/process.jpg")'/ width="100%">
		</div>
	</div>
	
	<div class="wboss" id="go3">
		<h3>配送方式及时间</h3>
		<p class="wbossti">
			众所周知，酒是特殊商品，国家禁止空运，只能全程陆运，所以运输会比较慢一些，还有请朋友们体谅，这也不在商家的控制范围内，如有介意，请慎拍哦！当然我们会对我们发出的每一瓶酒负责到底，保证把酒安安全全送到您的手中！目前来讲，因为国内快递公司整体的服务还不是很完善。为了战胜野蛮快递，我们每一瓶都是经过专业精心包装的，经得住快递员大力水手的卸载搬运。尽管如此，如果运输途中酒水出现破损还是全部由我们帮您承担，免您后顾之忧。
			<br>
			本商城默认快递为德邦物流，运输中快递来回晃动，倒置，会有少量渗漏，属正常现象，不影响正常饮用，不属于补偿范围。请接受不了的客户不要拍，谢谢合作！（如若送不到的区域，我们会改用天天快递或者宅急送）
		</p>
	</div>
	
	<div class="wboss" id="go4">
		<h3>售后政策</h3>
		<p class="wbossti">
			龙鑫定制酒商城保证所有商品都是通过正规进货渠道购进的放心酒水。龙鑫定制酒商城为用户制定了优质的售后服务。<br>
			如果您在购买商品后发现质量问题，请与客服中心400-8080-298联系，我们将针对您提出的具体问题，作出合适的处理！<br>
			让您购物放心、省心、舒心！
		</p>
		<p>
			以下情况属于商品质量问题：<br>
			(1) 酒品酒标，瓶盖，瓶塞及酒瓶爆裂等外包装损坏；<br>
			(2) 酒品出现酒液外流现象（若因物流原因有少量渗漏属正常现象，非质量问题）；<br>
			(3) 酒品超过产品出厂指定保质期；<br>
			(4) 酒品不符合规定标准、行业标准的；<br>
			(5) 酒品中发现以假充真、以次充好的。
		</p>
		<p>
			龙鑫定制酒商城保障承诺:<br>
			每一位在龙鑫定制酒商城购物的顾客都可以享有"假一罚五"的权利。<br>
			注：如果您认为购买的商品是假货，并能提供质检机构的证明文件，经确认后，在全额返还商品金额的同时， 再以礼券形式返还五倍的商品金额。
		<p>

	</div>





</div>
}

