@pc_frame("产品定制", "productAddApp", "productAddController") { 
<meta charset="UTF-8">
 <div class="product_add">
  <div class="product_add_left">
    <div style="margin-top: 10px;">
     <a href=""><div class="add_pic"></div></a>
     <a><div class="add_pic"></div></a>
     <span>请上传要加入的logo图片及照片，图片大小不能超过2M/张，支持JPG, GIF, PNG</span>
     </div>
     <div style="clear:both"></div>
     <div class="words">
       <a>系统推荐祝福语-1</a>
       <a>系统推荐祝福语-2</a>
       <a>系统推荐祝福语-3</a>
       <a>系统推荐祝福语-4</a>
        <a>系统推荐祝福语-5</a>
     </div>
     <div class="textinp">
     <textarea   rows="11" cols="44" >请输入您想要定制的祝福语，不超过五十个字</textarea> 
     </div>
  </div>
  
  <div class="product_add-center">
      <div class="shows">
  <img src='@routes.Assets.at("pc_images/show_03.jpg")'/><br/>
  <span>效果图预览</span>
      </div>
  </div>
  
  <div class="product_add-right">
  <p>核对商品信息</p>
   <ul>
   <li>姓名：<span>[婚庆系列] 永结同心龙鑫浩然 酒 53度 500ml </span></li>
   <li>净含量：<span>500ml</span></li>
   <li>颜色：<span>500ml   53%Vol.  黄色款</span></li>
   <li>数量：<span>5</span></li>
   <li>运费：<span>0.00 (满1000包邮)</span></li>
   <li>总价：<b>￥1500.0</b></li>
   </ul>
  </div>
</div>
<div style="clear:both"></div>
<div class="finish_order"><a href="/p/make">完成定制</a></div>
}