@pc_frame("主题产品", "themeProductApp", "themeProductController") { 
<meta charset="UTF-8">
<div class="theme">
   <div class="theme_ban">
   <img src='@routes.Assets.at("pc_images/ban.jpg")' alt="" />
   </div>
   <div class="theme_product">
     <div class="theme_pro">
    <a href="/p/details"> <img src='@routes.Assets.at("pc_images/content.jpg")'/></a>
    <div class="theme_p">
     <p>【婚庆系列】永结同心龙鑫浩然酒 53度 500ml<br />酱香型高度白酒国产中国</p>
     <span >￥300.0</span>
     <div class="theme_butm">
     <a href="/" style="background-color:#b58f50;">加入购物车</a>
     <a href="/p/details" style="background-color:#121a31;">立即定制</a>
     </div>
     </div>
       </div>
       
        <div class="theme_pro">
    <a href="/p/details"> <img src='@routes.Assets.at("pc_images/content.jpg")'/></a>
    <div class="theme_p">
     <p>【婚庆系列】永结同心龙鑫浩然酒 53度 500ml<br />酱香型高度白酒国产中国</p>
     <span >￥300.0</span>
     <div class="theme_butm">
     <a href="/" style="background-color:#b58f50;">加入购物车</a>
     <a href="/p/details" style="background-color:#121a31;">立即定制</a>
     </div>
     </div>
       </div>
     
      <div class="theme_pro">
    <a href="/p/details"> <img src='@routes.Assets.at("pc_images/content.jpg")'/></a>
    <div class="theme_p">
     <p>【婚庆系列】永结同心龙鑫浩然酒 53度 500ml<br />酱香型高度白酒国产中国</p>
     <span >￥300.0</span>
     <div class="theme_butm">
     <a href="/" style="background-color:#b58f50;">加入购物车</a>
     <a href="/p/details" style="background-color:#121a31;">立即定制</a>
     </div>
     </div>
       </div>
       
        <div class="theme_pro">
    <a href="/p/details"> <img src='@routes.Assets.at("pc_images/content.jpg")'/></a>
    <div class="theme_p">
     <p>【婚庆系列】永结同心龙鑫浩然酒 53度 500ml<br />酱香型高度白酒国产中国</p>
     <span >￥300.0</span>
     <div class="theme_butm">
     <a href="/" style="background-color:#b58f50;">加入购物车</a>
     <a href="/p/details" style="background-color:#121a31;">立即定制</a>
     </div>
     </div>
       </div>  
       
        <div class="theme_pro">
    <a href="/p/details"> <img src='@routes.Assets.at("pc_images/content.jpg")'/></a>
    <div class="theme_p">
     <p>【婚庆系列】永结同心龙鑫浩然酒 53度 500ml<br />酱香型高度白酒国产中国</p>
     <span >￥300.0</span>
     <div class="theme_butm">
     <a href="/" style="background-color:#b58f50;">加入购物车</a>
     <a href="/p/details" style="background-color:#121a31;">立即定制</a>
     </div>
     </div>
       </div>
       
        <div class="theme_pro">
    <a href="/p/details"> <img src='@routes.Assets.at("pc_images/content.jpg")'/></a>
    <div class="theme_p">
     <p>【婚庆系列】永结同心龙鑫浩然酒 53度 500ml<br />酱香型高度白酒国产中国</p>
     <span >￥300.0</span>
     <div class="theme_butm">
     <a href="/" style="background-color:#b58f50;">加入购物车</a>
     <a href="/p/details" style="background-color:#121a31;">立即定制</a>
     </div>
     </div>
       </div>
       
   </div>
   <div class="theme_ye">
   <div class="theme_roll"><a href="/">1</a><a>2</a><a>3</a></div>
   <div class="theme_xia"><a href="/">下一页<img src='@routes.Assets.at("pc_images/btuo.jpg")'/> </div>
   </div>
   
</div>
<div style="clear:both;"></div>
<div class="theme_line"></div>
   <div class="theme_process">
   <img src='@routes.Assets.at("pc_images/process.jpg")'/>  
</div>
}