@frame("个人中心", "UserApp", "UserController") {
<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

</body>
</html> -->
<div class="user-img">
	<div class="touxiang">
		<img src='{{user.headImgUrl}}'
			style="width: 80px; height: 80px; border-radius: 100px; border: 3px solid #F08300;"
			alt="">
	</div>
	<div class="yonghum">
		<p class="user-p">
			<!-- <b>用户名:<span ng-bind="user.nickname">{{user.nickname}}</b> -->
			<b>用户名:@session.get("WX_NAME")</b>
			<!-- {{user.loginName}} -->
		</p>
		<p class="user-p">
			<!-- <b>用户名:<span ng-bind="user.nickname">{{user.nickname}}</b> -->
			<b>会员号:<span ng-bind="user.resellerCode | uppercase"></span></b>
			<!-- {{user.loginName}} -->
		</p>
		<p class="user-p">
				<!-- <b>用户名:<span ng-bind="user.nickname">{{user.nickname}}</b> -->
			<b>积分:<span ng-bind="user.jifen | uppercase"></span></b>
				<!-- {{user.loginName}} -->
		</p>
		<!-- 		<p class="user-p" -->
		<!-- 			style="font-size: 14px; text-align: right; margin-top: 15%; color: #bda770;"> -->
		<!-- 			积分:<span ng-bind="user.jifen"></span>分{{user.loginName}} -->
		<!-- 		</p> -->
	</div>

	<!--   <p class="user-p">总佣金:</p> -->
</div>

<div class="wine-nav">
	<ul>
		<li style=""><a href="/w/myOrder?&show=0&storeId={{storeId}}" style="color: #F08300"><b
				class="b6"></b><br />全部订单</a></li>
		<li><a href="/w/myOrder?&show=2&storeId={{storeId}}" style="color: #F08300"><b class="b7" ></b><br />待支付</a></li>
		<li><a href="/w/myOrder?&show=1&storeId={{storeId}}" style="color: #F08300"><b class="b8"></b><br />已完成</a></li>
		<li ng-click="CustomerService()"><a href="" style="color: #F08300"><b
				class="b9"></b><br />退款/售后</a></li>
	</ul>
</div>
@*<div  style="background: #fbf6f2; width: 100%;     min-height: 480px; margin-bottom: 5%;">*@
	<!-- <div class="user-img"></div> -->
	<!-- <a href="/w/myPrivilege" class="user-a"><div
			class="user-div1">
			<img src='@routes.Assets.at("img/xtb1.png")' alt="" class="xtb">
			<span class="user-span">我的优惠卷</span> <img
				src='@routes.Assets.at("img/right.png")' alt="" class="img-right"
				style="width: 16px;"> <span class="img-right">查看</span>
		</div> </a>  -->
		 <a href="/w/myLocation?storeId={{storeId}}" class="user-a"><div
			class="user-div1">
			<img src='@routes.Assets.at("img/xtb3.png")' alt="" class="xtb">
			<span class="user-span">我的收货地址</span> <img
				src='@routes.Assets.at("img/right.png")' alt="" class="img-right"
				style="width: 16px;"> <span class="img-right" style="font-size: 13px;">添加/修改</span>
		</div> </a>
	 <a href="/w/distributor" class="user-a"><!-- <div
			ng-show="user.isReseller" class="user-div1"> -->
	</a> <a href="/w/distributor?storeId={{storeId}}" class="user-a">
		<div ng-show="user.isReseller" class="user-div1">
			<img src='@routes.Assets.at("img/xtb5.png")' alt="" class="xtb">
			<span class="user-span">我是分销商</span> <img
				src='@routes.Assets.at("img/right.png")' alt="" class="img-right"
				style="width: 16px;"> <span class="img-right" style="font-size: 13px;">进入</span>
		</div> </a>


	<div class="bottom">
		<p>外卖时间：上午 10:00 ~ 次日凌晨 3:00</p>
		<p>客服热线：<span ng-bind="StoreList.phone"></span></p>
		<div class="numberB">
			<ul class="clear">
				<li style=""><a href="/w/about#c1" style="color:black;">购物流程</a></li>
				<li ><a href="/w/about#c2" style="color:black;">支付配送</a></li>
				<li ><a href="/w/about#c2" style="color:black;">售后服务</a></li>
				<li ><a href="/w/about#c4" style="color:black;">关于我们</a></li>
				<li  style="border-right: 0px solid #F08300;"><a href="/w/about#c5" style="color:black;">联系我们</a></li>
			</ul>
		</div>
		<div class="homefooter_7080" style="margin-top: 4%;text-align: center;">
			<img src='@routes.Assets.at("images/7080.png")' style="width: 20%;">
			<P class="homefooter_text_p2" style="color: #999;margin-top: 3px;">由7080网络提供技术支持</P>
		</div>
	</div>

<div class="foot">
		<ul>
			<li class="foot1" style="padding: 0 ;"><a
				href="/w/wine?storeId={{storeId}}"><b class="f1"></b><br />首页</a></li>
			<li class="foot2"><a href="/w/set?storeId={{storeId}}"><b class="f2"></b><br />美食分类</a></li>
			<li class="foot3"><a href="/w/cart?storeId={{storeId}}"><b class="f3"></b><br />购物车(<span  ng-bind="cart | cartCalculate"></span>)<!-- (@session.get("CART")) --></a></li>

			<li class="foot4"><a href="/w/userCenter?storeId={{storeId}}"><b class="f4"></b><br />个人中心</a></li>
		</ul>
	</div> 
}
<script src='@routes.Assets.at("js/controllers/userCenter_controller.js")'></script>