@CHARSET "UTF-8";
/* 禁止ios和android用户选中文字 */
.css{-webkit-user-select:none}

/* 禁止ios长按时触发系统的菜单，禁止ios&android长按时下载图片 */
.css{-webkit-touch-callout: none}


/* webkit去除表单元素的默认样式 */
.css{-webkit-appearance:none;}

/* 去除android a/button/input标签被点击时产生的边框 & 去除ios a标签被点击时产生的半透明灰色背景 */
a,button{-webkit-tap-highlight-color:rgba(255,0,0,0);}


/* ios使用-webkit-text-size-adjust禁止调整字体大小 */
body{-webkit-text-size-adjust: 100%!important;}



input{
	border:0px;
}

/* 清除浮动 */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }

@media only screen and (max-width: 800px) {
	.nav ul li a {
		font-size: 14px;
	}
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
body {
	background: #888888;
	margin: auto;
	font: normal 100% Helvetica, Arial, sans-serif;
	    font-family: "Microsoft YaHei";
}

body {
	max-width: 640px;
}

.wine {
	width: 100%;
	/* height:525px; */
	/* background: #C8C8C8; */
	/*float: left;*/
}

.wine-title {
	width: 100%;
	/* 	height:91px; */
	background: #F08300;
	float: left;
	padding:3% 0 3% 0;
}

.wine-title .title-left {
	    width: 45%;
	float: left;
}

a.lxhr, a.ss:link {
	color: #121A31;
}

alxhr, a.ss:visited {
	color: #121A31;
}

.wine-title .title-right {
	    width: 7%;
    float: right;
    margin: 0.5% 5% 0 0;
}

.wine .wine-theme {
	width: 100%;
	/* 	height:327px; */
	float: left;
	/* 	margin-top:15px; */
}

ul, li {
	list-style: none;
	padding: 0;
}

div.wine-nav {
	background: #fff;
	width: 100%;
	/* 	height:150px; */
	border: 1px yellow;
	float: left;
	margin: 0 0 3% 0;
	padding: 3% 0 3% 0;
}

.wine-nav ul li {
	width: 25%;
	line-height: px;
	float: left;
	border: 1px yellow;
	text-align: center;
	padding: 0 2% 0 0;
}

.wine-nav ul li a b.b1, .b2, .b3, .b4 {
	display: inline-block;
	min-width: 40px;
	min-height: 40px;
	background: url(../img/yuan1.png) no-repeat;
	/* margin-top: 15px; */
	/* 	margin-left:7px; */
	background-size: 100% 100%;
}

.b2 {
	background: url(../img/yuan2.png) no-repeat;
	background-size: 100% 100%;
}

.b3 {
	background: url(../img/yuan3.png) no-repeat;
	background-size: 100% 100%;
}

.b4 {
	background: url(../img/yuan4.png) no-repeat;
	background-size: 100% 100%;
}




.wine-nav ul li a b.b6, .b7, .b8, .b9{
	display: inline-block;
	min-width: 40px;
	min-height: 40px;
	background: url(../img/6.png) no-repeat;
	/* margin-top: 15px; */
	/* 	margin-left:7px; */
	background-size: 100% 100%;
}

.b7 {
	background: url(../img/7.png) no-repeat;
	background-size: 100% 100%;
}

.b8 {
	background: url(../img/8.png) no-repeat;
	background-size: 100% 100%;
}

.b9 {
	background: url(../img/9.png) no-repeat;
	background-size: 100% 100%;
}





.wine-nav ul li a b.b5 {
	display: inline-block;
	width: 40%;
	min-height: 10px;
	background: url(../img/jiantou.png) no-repeat #ddd;
	margin-top: 55%;
	margin-right: 25%;
	background: url(../img/jiantou.png) no-repeat;
	background-size: 100% 100%;
}

.wine-nav ul li a {
	color: #ABABAB;
	font-size: 14px;
}

.wine-nav ul li a:link {
	text-decoration: none;
	outline: 0;
}

.type-p {
	float: left;
	width: 100%;
	background: #fff;	
	font-size: 14px;
/* 	font-weight: bold; */
	margin: auto;
	    margin-top: 10px;
	padding: 5% 0 5% 0;
}
.msfl{
	width:50%;
	 float:left;
}
.type-p a:link {
	text-decoration: none;
	color: #fff;
}

.type-p span {
	
	/* margin-left:400px; */
	/* float: right; */
}


.type-span1{
	font-size:16px;
}
@media screen and (min-width: 500px){
.type-span1 { font-size:30px;}		
}

.type-span2{
	color:#F08300;
	font-size:12px;
}
@media screen and (min-width: 500px){
.type-span2 {color:#F08300;font-size:16px;}		
}

.type-p img{
	width:40px;
	height:40px;
	margin-left:8px;
}
@media screen and (min-width: 500px){
.type-p img {width:50px;
	height:50px;
	margin-left:8px;
	}		
}

.well-p2  img{
	float:right;
	width:27px;	
	    margin: 10px 9px 0 0;
}
@media screen and (min-width: 500px){
.well-p2 img {
	float:right;
	width:33px;	
	    margin: 3px 6px 0 0;
	}		
}

.well-p2 b{
	    font-size: 19px;
}

@media screen and (min-width: 500px){
.well-p2 b{ 
	font-size: 28px;
	}		
}

 




.wine-type {
	width: 100%;
	/* 	height:388px; */
	background: #fff;
	float: left;
}

.type-img {
	width: 100%;
	/* 	height:328px; */
}

.type-p2 {
	width: 95%;
	color: #B48F4F;
	font-size: 16px;
	margin: auto;
	background: #fff;
	padding: 1% 0 1% 1%;
}

.mt {
	width: 100%;
	height: 10px;
	background: #fbf6f2;
}

.wine-well {
	width: 100%;
	/* 	height:470px; */
	background: #fff;
	float: left;
}

.well-left, .well-right {
	float: left;
	width: 50%;
	min-height: 200px;
	border-bottom: 2px solid #D1D1D1;
	background: #fff;
}

.well-left {
	border-right: 2px solid #D1D1D1;
}

.well-img1 {
    margin-left: 0;
}

.well-img1, .well-img2 {
	float: left;
	    width: 100%;
    min-height: 170px;
}

.well-p {
	float: left;
	width: 100%;
	/* 	height:145px; */
	color: #B48F4F;
	font-size: 14px;
	margin-top: 15px;
}

.well-p1, .well-p2 {
	width: 90%;
	font-size: 13px;
	/* 	line-height:30px; */
	margin-left: 5%;
}

.well-p1 b {
	line-height: 30px;
}

.well-p1 {
	color: #737373;
	min-height: 60px;
	margin-top: 0;
	margin-bottom: 0;
}

.well-p2 {
	    font-size: 28px;
    margin-top: 5px;
    /* margin-bottom: 9px; */
    color:#F08300;
     min-height: 47px;
}

/*foot*/
.mt2 {
	float: left;
	width: 100%;
	height: 10px;
	background: #C8C8C8;
}

div.foot {
	background: #F08300;
	width: 100%;
	    padding: 5px 0 5px 0;
	/* 	height:86px; */
	/*  	border:1px solid yellow; */
	float: left;
	margin-top: 1.5%;
	bottom: 0;
	position: fixed;
	max-width: 640px;
}



@media screen and (min-width: 500px){
div.foot{ 
	   padding: 17px 0 17px 0;
	}		
}

.foot ul li {
	/* min-height:90px; */
	width: 25%;
	float: left;
	border: 1px yellow;
	text-align: center;
	/*     margin-left: -1.5%; */
	padding: 0 1% 0 1%;
	/*   border:1px solid yellow; */
}

li.foot1 {
	width: 20%;
}

li.foot2, li.foot3, li.foot4 {
	width: 25%;
}

.foot ul li a b.f1, .f2, .f3, .f4 {
	display: inline-block;
	    width: 28px;
    height: 22px;
	background: url(../img/foot1.png) no-repeat;
	    background-size: 100%;
	/* border:1px solid yellow; */
}

.f2 {
	background: url(../img/foot2.png) no-repeat;
	    background-size: 100%;
}

.f3 {
	background: url(../img/foot3.png) no-repeat;
	    background-size: 100%;
}

.f4 {
	background: url(../img/foot4.png) no-repeat;
	    background-size: 100%;
}

.foot ul li a {
	color: #fff;
	font-size: 13px;
/* 	font-weight: bold; */
}

.foot ul li a:link {
	text-decoration: none;
	outline: 0;
}

/*xin*/
.slideBox {
	position: relative;
	overflow: hidden;
	margin: 3% 0 0 0;
	width: 100%;
	min-height: 100px;

}

.slideBox .hd {
	position: absolute;
	height: 28px;
	line-height: 28px;
	bottom: 0;
	z-index: 1;
	margin: 0 0 5% 32%;
}

.slideBox .hd li {
	display: inline-block;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #333;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 6px;
}

.slideBox .hd li.on {
	background: #fff;
}

.slideBox .bd {
	position: relative;
	z-index: 0;
}

.slideBox .bd li {
	position: relative;
	text-align: center;
}

.slideBox .bd li img {
	background: url(images/loading.gif) center center no-repeat;
	vertical-align: top;
	width: 100%;
}

.slideBox .bd li a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.bottom{
	width: 100%;
    float: left;
    padding: 20px 0 20px 0;
    background: #fbf6f2;
    max-width: 640px;
    min-width: 320px;
}

.bottom p{
    font-size: 14px;
    border-bottom: 1px dashed #CAC3C3;
    text-align: center;
    padding: 5px 0;
    margin: 0;
}

.bottom span{
	width:100%;
	font-size:14px;
/* 	margin-left:10px; */
}
.numberB ul {
	text-align: center;
    margin: auto;
    width: 320px;
    padding: 5px 0;
}
.numberB ul li{
    width: 20%;
    float: left;
    text-align: center;
    padding: 0 1% 0 1%;
        font-size: 1.2em;
    border-right: 1px solid #F08300;
}
.ng-binding{
	    font-size: 1.2em;
}
/*xin结束*/

.select_store{
	float: right;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 2%;
	font-size: 15px;
}